<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @phlog.name %>
</p>
<div class="phlog">
  <%= image_tag @phlog.image_url(:thumb).to_s %>
</div>

<%= link_to 'Edit', edit_phlog_path(@phlog) %> |
<%= link_to 'Destroy', phlog, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Phlogs', phlogs_path %>
